<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>offerX.</title>

  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: montserrat;
    }

    ::selection {
      color: black;
      background: #dadada;
    }

    :root {
      --primary-color: #333;
      --secondary-color: #1a1a1a;
      --hover-color: #f5f5f7;
      --border-color: #e1e1e1;
      --text-primary: #1a1a1a;
      --text-secondary: #666;
      --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
      --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
      --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
      --radius-sm: 5px;
      --radius-md: 10px;
      --radius-lg: 15px;
    }

    body {
      /* display: flex; */
      background-color: #f8f9fa;
      color: var(--text-primary);
      line-height: 1.5;
      background-color: #1a1a1a;
      padding-top: 4vw;
    }



    .logo {
      font-size: 28px;
      font-weight: 800;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--secondary-color);
      letter-spacing: -0.5px;
    }

    .logo-icon {
      color: var(--primary-color);
      font-size: 24px;
      animation: pulse 2s infinite;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }


    /* Enhanced Main Content Styles */
    .main-content {
      /* margin-left: 280px; */
      padding: 60px;
      width: 100%;
      min-height: 100vh;
    }

    .deal-card {
      margin: 10px;
      background: white;
      border-radius: var(--radius-md);
      padding: 25px;
      position: relative;
      box-shadow: var(--shadow-sm);
      transition: all 0.3s ease;
      border: 1px solid var(--border-color);
      width: 400px;
    }

    .deal-card:hover {
      transform: translateY(-5px);
      box-shadow: var(--shadow-lg);

    }

    .hot-deal {
      position: absolute;
      top: 15px;
      right: 15px;
      color: var(--primary-color);
      font-size: 20px;
      animation: float 3s ease-in-out infinite;
    }

    .hot-deal i {
      color: #f8f8f8;
      transition: all 0.3s ease;
    }

    .hot-deal:hover i {
      transform: translateY(-5px);
      color: rgb(98, 95, 95);

    }

    @keyframes float {
      0% {
        transform: translateY(0px);
      }

      50% {
        transform: translateY(-5px);
      }

      100% {
        transform: translateY(0px);
      }
    }

    .deal-logo {
      height: 55px;
      border-radius: 50%;
      margin-bottom: 20px;
      object-fit: contain;
      filter: grayscale(0.2);
      transition: filter 0.3s ease;
    }

    .deal-card:hover .deal-logo {
      filter: grayscale(0);
    }

    .deal-title {
      font-size: 2vw;
      font-weight: 500;
      margin-bottom: 1px;
      color: var(--text-primary);
    }

    .deal-description {
      color: var(--text-secondary);
      font-size: 1vw;
      margin-bottom: 20px;
      line-height: 1.2;
    }

    .deal-value {
      color: var(--text-secondary);
      font-size: 1vw;
      margin-bottom: 20px;
      padding: 8px 0px;
      /* background-color: var(--hover-color); */
      border-radius: var(--radius-sm);
      display: inline-block;
    }

    .get-deal-btn {
      background-color: var(--secondary-color);
      color: white;
      border: none;
      padding: 12px 24px;
      border-radius: var(--radius-sm);
      cursor: pointer;
      width: 100%;
      transition: all 0.3s ease;
      font-weight: 600;
      font-size: 15px;
      position: relative;
      bottom: 2px;
      overflow: hidden;
    }

    .get-deal-btn a {
      text-decoration: none;
      color: white;
    }

    .get-deal-btn:hover {
      background-color: var(--primary-color);
      transform: translateY(-2px);
    }

    .get-deal-btn:active {
      transform: translateY(0);
    }

    .section-title {
      font-size: 32px;
      margin-bottom: 15px;
      font-weight: 800;
      color: var(--text-primary);
      letter-spacing: -0.5px;
    }

    .section-subtitle {
      color: var(--text-secondary);
      margin-bottom: 35px;
      font-size: 16px;
      max-width: 600px;
      line-height: 1.6;
    }

    .social-icons {
      display: flex;
      gap: 20px;
      margin-top: 30px;
      padding-top: 20px;
      border-top: 1px solid var(--border-color);
    }

    /* Responsive Design */
    @media (max-width: 1024px) {
      .sidebar {
        width: 250px;
      }

      .main-content {
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      .sidebar {
        width: 220px;
        padding: 20px;
      }

      .main-content {

        width: 100%;
        padding: 25px;
      }

      .deals-grid {
        grid-template-columns: 3fr;
      }
    }

    /* Tooltip */
    [data-tooltip] {
      position: relative;
    }

    [data-tooltip]:before {
      content: attr(data-tooltip);
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 10px;
      background-color: var(--secondary-color);
      color: white;
      font-size: 12px;
      border-radius: var(--radius-sm);
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
    }

    [data-tooltip]:hover:before {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) translateY(-5px);
    }

    #offerList {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      align-items: center;
    }

    .deal-card {
      flex: 1 1 calc(20% - 15px);
      max-width: calc(40% - 15px);

    }

    @media (max-width: 1200px) {
      .deal-card {
        flex: 1 1 calc(45% - 15px);
        max-width: calc(45% - 15px);
      }
    }

    @media (max-width: 768px) {
      .deal-card {
        flex: 1 1 calc(90% - 15px);
        max-width: calc(90% - 15px);
      }
    }

    @media (max-width: 480px) {
      .deal-card {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }

    /* loader */
    .loader-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
      background-color: #000;
      flex-direction: column;
    }

    .loader {
      height: 70px;
      width: 155px;
      /* background-color: red; */
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .loader h1 {
      color: white;
      font-size: 3vw;
    }

    /* navbar styels */
    .navbar {
      width: 93%;
      height: 4.8vw;
      margin-top: 3vw;
      position: fixed;
      z-index: 999;
      top: 2%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5vw;
      background: #ffffff21;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(10px);
      padding: 20px 30px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;

      /* filter: contrast(100%); */
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .logo img {
      width: 30px;
      margin-top: 1vw;
      height: 30px;
      margin-right: 3vw;
    }

    .logo h1 {
      font-size: 30px;
      /* margin: 10px; */
      margin-top: 1vw;
      font-weight: bold;
      color: white;
      text-align: center;
      align-items: center;
    }

    .nav-links {
      display: flex;
      justify-content: space-between;
      gap: 90px;
    }

    .nav-links a {
      text-decoration: none;
      color: white;
      font-size: 15px;
      transition: 0.3s;
    }

    .nav-links a:hover {
      color: #999;
    }

    .section-title {
      font-size: 3vw;
      font-weight: 800;
      color: #fafaff;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 20px;
    }

    .section-subtitle {
      font-size: 1.2vw;
      color: #bbb;
      max-width: 600px;
      line-height: 1.6;
      margin-top: 10px;
    }

    .search-container {
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 0.1);
      /* Light transparency */
      backdrop-filter: blur(10px);
      /* Glass effect */
      border-radius: 30px;
      padding: 8px 15px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      transition: all 0.3s ease-in-out;
    }

    .search-container:hover {
      background: rgba(255, 255, 255, 0.2);
    }

    .search-container input {
      flex: 1;
      border: none;
      outline: none;
      padding: 5px 15px;
      background: transparent;
      color: #fff;
      font-size: 16px;
    }

    .search-container input::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    .search-container button {
      background: rgba(255, 255, 255, 0.2);
      border: none;
      padding: 5px 20px;
      border-radius: 20px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s ease-in-out;
    }

    .search-container button:hover {
      background: rgba(255, 255, 255, 0.4);
    }

    .main-content span {
      display: none;
    }
  </style>
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <h1>OfferX</h1>
    </div>
    <div class="nav-links">
      <a href="http://localhost:3000/dashboard">HOME</a>
      <a href="http://localhost:3000/blog">BLOG</a>
      <a href="http://localhost:3000/FAQS">FAQS</a>
      <a href="http://localhost:3000/about">ABOUT US</a>
    </div>
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Search Deals with us...">
      <button onclick="searchDeals()"><i class="ri-search-2-line"></i></button>
    </div>
  </nav>

  <div class="main-content">
    <h1 class="section-title">Most Popular This Month</h1>
    <p class="section-subtitle">Discover the best tools at the best price for your business to thrive. Updated daily
      with new exclusive deals.</p>
    <span>NO RESULT FOUND</span>
    <div class="offerList1">
      <div id="offerList" style="display: flex; flex-wrap: wrap; gap: 15px;">
        <img id="company-logo" src="" alt="Company Logo">
      </div>
    </div>
  </div>
  <!-- <div class="loader-container">
    <div class="loader">
      <h1>offerX</h1>
    </div>
  </div> -->

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>

<script>
  // Create GSAP Timeline
  let tl = gsap.timeline({ yoyo: true });

  tl.from(".loader h1", {
    y: 100, // Start below
    opacity: 0,
    duration: 1.8,
    ease: "power4.out", // Smooth entry
  })
  tl.to(".loader h1", {
    y: -100, // Move up
    duration: 1.2,
    opacity: 0,
    ease: "bounce.out", // Bounces when reaching top
  });

  setTimeout(() => {
    gsap.to(".loader-container", {
      opacity: 0,
      duration: 0.8,
      onComplete: () => {
        document.querySelector(".loader-container").style.display = "none";
        document.querySelector(".main-content").style.display = "block";
      }
    });
  }, 4000);

  let data = {
    "Achieve": [
      "https://www.joinsecret.com/offers",
      " 6 months free ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "Amazon": [
      "https://www.amazon.in/",
      " 6 months free ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "ActiveCampaig": [
      "https://segment.com/industry/startups/",
      " Get a free ActiveCampaign Professional Plan for 12-months ",
      " Free for approved Segment users "
    ],
    "Amazon AWS": [
      "https://stripe.com/en-de/corporate-card",
      " $5,000 in credits ",
      " Free for Stripe Corporate Credit card users "
    ],
    "AND C": [
      "https://startup.deals/",
      " 50% off 3 months ",
      " $29 one-time to access all Startup Deals discounts "
    ],

    "Asan": [
      "https://www.producthunt.com/founder-club",
      " 30% off for a year ",
      " $720/year for all Product Hunt deals "
    ],
    "Atomi": [
      "https://startup.deals/",
      " 20% off 3 months ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Baremetric": [
      "https://www.producthunt.com/founder-club",
      " 30% off the first year ",
      " $720/year for all Product Hunt deals "
    ],
    "Blosso": [
      "https://startup.deals/",
      " 3 months free ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Boom ": [
      "https://startup.deals/",
      " 10% off ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Bre": [
      "https://www.startups.com/products/benefits-browse#benefits",
      " 75,000 Points ($750) ",
      " $29/month to access all Startups.com offers and products. Yearly and life-time plans available "
    ],
    "Bubbl": [
      "https://www.joinsecret.com/offers",
      " 6 months free on Professional plan ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "Cal": [
      "https://www.producthunt.com/founder-club",
      " 30% off ",
      " $720/year for all Product Hunt deals "
    ],
    "Cart": [
      "https://stripe.com/en-de/corporate-card",
      " Access to Launch, and 20% off + waived implementation fees ",
      " Free for Stripe Corporate Credit card users "
    ],
    "Clerk": [
      "https://segment.com/industry/startups/",
      " \"We've put together a special deal just for Segment Startup Program companies \u00e2\u20ac\u201c our Company Lifetime Package for only $699. ",
      ""
    ],
    "ClickU": [
      "https://www.joinsecret.com/offers",
      " 30% lifetime discount ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],

    "Cloudtal": [
      "https://www.joinsecret.com/offers",
      " 6 months free on Expert plan for 5 users ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "Cloudway": [
      "https://www.joinsecret.com/offers",
      " 30% off for 3 months ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "ConvertKi": [
      "https://startup.deals/",
      " One month free ",
      " $29 one-time to access all Startup Deals discounts "
    ],

    "Curate": [
      "https://startup.deals/",
      " 50% off 3 months ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Cyf": [
      "https://www.userlike.com/en/blog/startup-deals",
      " 50% off for one year ",
      " Free "
    ],
    "Designit": [
      "https://startup.deals/",
      " 20% off on your first design project ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "DesignMod": [
      "https://startup.deals/",
      " 25% off ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Dri": [
      "https://startup.deals/",
      " 42 Day Trial of Drip! ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Experia": [
      "https://brex.com/rewards/",
      " 50% discount on first year business credit monitoring subscription ",
      " Free for Brex customers "
    ],
    "Freshwork": [
      "https://www.joinsecret.com/offers",
      " $2000 credits spread over 8 products ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "Ge": [
      "https://stripe.com/en-de/corporate-card",
      " 3 months free ",
      " Free for Stripe Corporate Credit card users "
    ],
    "Gen": [
      "https://startup.deals/",
      " Free Marketing ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Groov": [
      "https://startup.deals/",
      " 2 months free ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Harvest": [
      "https://www.joinsecret.com/offers",
      " 6 months free on Starter plan ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],

    "Indicativ": [
      "https://segment.com/industry/startups/",
      " 3 months of Indicative Pro (the analytics platform is free for non-Pro plans) ",
      " Free for approved Segment users "
    ],
    "Instan": [
      "https://startup.deals/",
      " Get 50% discount for 3 months on any plan. ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "InVisio": [
      "https://www.userlike.com/en/blog/startup-deals",
      " 3 months for free ",
      " Free "
    ],
    "Knote": [
      "https://brex.com/rewards/",
      " 1 million Brex rewards points bonus ",
      " Free for Brex customers "
    ],
    "LambdaTes": [
      "https://startup.deals/",
      " Get 20% discount on all annual plans ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Lande": [
      "https://startup.deals/",
      " 15% off 1st month ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Libe": [
      "https://www.joinsecret.com/offers",
      " 50% off for 6 months on any plan ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "Magi": [
      "https://startup.deals/",
      " Skip the waiting list ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Mentio": [
      "https://www.joinsecret.com/offers",
      " 6 months free on Solo plan ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "Mod": [
      "https://segment.com/industry/startups/",
      " $12,000 credits for 12 months, free White Label Embeds, then 50% graduation discount in year one. ",
      " Free for approved Segment users "
    ],
    "Monda": [
      "https://www.userlike.com/en/blog/startup-deals",
      " 15% discount on any plan ",
      " Free "
    ],
    "Oig": [
      "https://startup.deals/",
      " 30% off for 6 months ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "PayFi": [
      "https://www.joinsecret.com/offers",
      " 50% off for 6 months ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "Pii": [
      "https://startup.deals/",
      " Lifetime 20% off ",
      " $29 one-time to access all Startup Deals discounts "
    ],

    "Pin": [
      "https://startup.deals/",
      " Lifetime 30% off Text Messaging for your Website ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Pipedriv": [
      "https://startup.deals/",
      " 25% off 3 Months ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Pure Fix Cycle": [
      "https://startup.deals/",
      " 25% off all bicycles ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "PushBot": [
      "https://www.producthunt.com/founder-club",
      " 40% off for a year ",
      " $720/year for all Product Hunt deals "
    ],
    "Repl": [
      "https://startup.deals/",
      " 30% off 3 Months ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Rove": [
      "https://www.producthunt.com/founder-club",
      " $25 Introductory Credit ",
      " $720/year for all Product Hunt deals "
    ],
    "Sanebo": [
      "https://startup.deals/",
      " $20 credit ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Segmen": [
      "https://startup.deals/",
      " The first 10K MTUs completely free on the Monthly Team Plan for 3 months. ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Sells": [
      "https://www.joinsecret.com/offers",
      " 3 months free ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "SendGri": [
      "https://www.startups.com/products/benefits-browse#benefits",
      " 12 Months of Product Credit ",
      " $29/month to access all Startups.com offers and products. Yearly and life-time plans available "
    ],
    "Sendgri": [
      "https://www.joinsecret.com/offers",
      " 12 months free (100k emails/month with the Email API Plan) ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "Shipp": [
      "https://brex.com/rewards/",
      " 4 months free Shippo Pro Plan ",
      " Free for Brex customers "
    ],
    "Sla": [
      "https://www.producthunt.com/founder-club",
      " 50% off for 12 months ",
      " $720/year for all Product Hunt deals "
    ],

    "SocialBe": [
      "https://www.joinsecret.com/offers",
      " 6 months free on the Accelerate plan ",
      " First deal free, then 99\u00e2\u201a\u00ac/year or invite friends "
    ],
    "Spli": [
      "https://segment.com/industry/startups/",
      " 12 month trial of the platform edition ",
      " Free for approved Segment users "
    ],
    "Tuts": [
      "https://startup.deals/",
      " 3 Months Free ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Ver": [
      "https://segment.com/industry/startups/",
      " 90% off for the first year up to 200,000 subscribers ",
      " Free for approved Segment users "
    ],
    "Vyt": [
      "https://startup.deals/",
      " 3 months free ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Weebl": [
      "https://startup.deals/",
      " 25% off ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "WorkingO": [
      "https://startup.deals/",
      " 25% off lifetime ",
      " $29 one-time to access all Startup Deals discounts "
    ],
    "Zoo": [
      "https://brex.com/rewards/",
      " 20% discount on annual subscription ",
      " Free for Brex customers "
    ]
  }
  let output = "";

  // Loop through all companies in JSON
  for (let company in data) {
    let offerDetails = data[company];
    let domain = company.toLowerCase().replace(/\s+/g, '') + ".com";
    let logoUrl = `https://logo.clearbit.com/${domain}`;
    console.log(logoUrl);
    output += `
        <div class="deal-card">
            <span class="hot-deal"><i class="ri-bookmark-fill"></i></span>
            <img src="${logoUrl}" class="deal-logo">
            <div class="deal-title">${company}</div>
            <div class="deal-description">${offerDetails[1]}</div>
            <div class="deal-value">${offerDetails[2]}</div>
            <button class="get-deal-btn"><a href="${offerDetails[0]}">Get this deal</a></button>
        </div>`;
  }
  console.log(output)
  document.getElementById("offerList").innerHTML = output;

  function searchDeals() {
    let input = document.getElementById("searchInput").value.toLowerCase();
    let dealCards = document.querySelectorAll(".deal-card");

    dealCards.forEach(card => {
      let title = card.querySelector(".deal-title").textContent.toLowerCase();
      if (title.includes(input)) {
        card.style.display = "block";
      } else {
        card.style.display = "none";

      }
    });
  }
  // Add event listener to trigger search on input change
  document.getElementById("searchInput").addEventListener("keyup", searchDeals);

  document.querySelectorAll('.deal-card').forEach(card => {
    card.addEventListener('mousemove', (e) => {
      const { offsetX, offsetY } = e;
      const xMove = (offsetX / card.offsetWidth) * 20 - 5;
      const yMove = (offsetY / card.offsetHeight) * 20 - 5;

      gsap.to(card, { x: xMove, y: yMove, duration: 0.3 });
    });

    card.addEventListener('mouseleave', () => {
      gsap.to(card, { x: 0, y: 0, duration: 0.3 });
    });
  });


</script>

</html>